Repository AlgoLeadMe/AlgoLeadMe-1, pull requests merged in 2023-11, with the labels that each got.

#34 12-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/스택/과제 진행하기.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#37 11-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/트리/11-Munbin-Lee.py
Labels: 리뷰 완료 ✔️, Munbin-Lee

#40 2-yuna83
  yuna83/README.md
  yuna83/구현/달리기 경주.py
Labels: 리뷰 완료 ✔️, yuna83

#41 13-tgyuuAn
  tgyuuAn/BFS/리코쳇 로봇
  tgyuuAn/README.md
  tgyuuAn/그리디/광물 캐기.py
  tgyuuAn/그리디/택배 배달과 수거하기.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#42 3-yuna83
  yuna83/README.md
  yuna83/구현/추억 점수.py
  yuna83/구현/콜라 문제.py
  yuna83/수학
Labels: 리뷰 완료 ✔️, yuna83

#43 14-pknujsp
  pknujsp/README.md
  pknujsp/맵/14-시소 짝꿍.py
Labels: pknujsp, 리뷰 완료 ✔️

#44 13-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/구현/13-공 이동 시뮬레이션.py
  Munbin-Lee/백트래킹/1-부대복귀.cpp
  Munbin-Lee/이분탐색/4-야근지수.cpp
  Munbin-Lee/트리/10-호텔 방 배정.cpp
  Munbin-Lee/트리/11-호텔 대실.py
Labels: 리뷰 완료 ✔️, Munbin-Lee

#45 14-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/이진 탐색/순위 검색.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#46 4-yuna83
  yuna83/README.md
  yuna83/그리디/폰켓몬.py
  yuna83/수학
Labels: 리뷰 완료 ✔️, yuna83

#48 15-pknujsp
  pknujsp/README.md
  pknujsp/수학/15-예상 대진표.py
Labels: pknujsp, 리뷰 완료 ✔️

#49 14-Munbin-Lee
  Munbin-Lee/DP/14-카운트 다운.py
  Munbin-Lee/README.md
Labels: 리뷰 완료 ✔️, Munbin-Lee

#47 15-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/그리디/조이스틱.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#51 5-yuna83
  yuna83/README.md
  yuna83/그리디/체육복.py
Labels: 리뷰 완료 ✔️, yuna83

#53 15-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/구현/15-규칙 숫자 야구.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#50 16-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/완전 탐색/이모티콘 할인행사.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#52 16-pknujsp
  pknujsp/DP/16-숫자 변환하기.py
  pknujsp/README.md
Labels: pknujsp, 리뷰 완료 ✔️

#55 6-yuna83
  yuna83/README.md
  yuna83/구현/과일 장수.py
Labels: 리뷰 완료 ✔️, yuna83

#58 7-yuna83
  yuna83/완전탐색/최소직사각형.py
Labels: 리뷰 완료 ✔️, yuna83

#59 8-yuna83
  yuna83/README.md
  yuna83/완전탐색/모의고사
Labels: 리뷰 완료 ✔️, yuna83

#57 17-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/정수론/17-GCD(n, k) = 1.py
Labels: 리뷰 완료 ✔️, Munbin-Lee

#56 16-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/위상정렬/16-작업.cpp
Labels: 리뷰 기다리는 중 🔥, Munbin-Lee

#60 18-pknujsp
  pknujsp/README.md
  pknujsp/구현/18-키패드 누르기.py
Labels: pknujsp, 리뷰 완료 ✔️

#61 17-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/위상정렬/ACM Craft.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#62 9-yuna83
  yuna83/README.md
  yuna83/완전탐색/소수 찾기.py
Labels: 리뷰 완료 ✔️, yuna83

#65 18-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/투포인터/18-가장 긴 팰린드롬.py
Labels: 리뷰 완료 ✔️, Munbin-Lee

#64 19-pknujsp
  pknujsp/README.md
  pknujsp/구현/19-실패율.py
Labels: pknujsp, 리뷰 완료 ✔️

#66 10-yuna83
  yuna83/README.md
  yuna83/해시/완주하지 못한 선수.py
Labels: 리뷰 완료 ✔️, yuna83

#67 11-yuna83
  yuna83/README.md
  yuna83/구현/푸드 파이트 대회.py
Labels: 리뷰 완료 ✔️, yuna83

#70 20-pknujsp
  pknujsp/README.md
  pknujsp/문자열/20-옹알이(2).py
Labels: pknujsp, 리뷰 완료 ✔️

#68 19-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/위상정렬/최종 순위.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#69 19-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/투포인터/19-연속된 부분 수열의 합.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#72 12-yuna83
  yuna83/README.md
  yuna83/구현/둘만의 암호.py
Labels: 리뷰 완료 ✔️, yuna83

#71 20-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/위상정렬/문제집.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#76 13-yuna83
  yuna83/DFS/BFS/타겟 넘버.py
  yuna83/README.md
Labels: 리뷰 완료 ✔️, yuna83

#73 21-pknujsp
  pknujsp/README.md
  pknujsp/맵/21-의상.py
Labels: pknujsp, 리뷰 완료 ✔️

#77 14-yuna83
  yuna83/DFS/BFS/게임 맵 최단거리.py
  yuna83/README.md
Labels: 리뷰 완료 ✔️, yuna83
