Repository AlgoLeadMe/AlgoLeadMe-1, pull requests merged in 2023-10, with the labels that each got.

#1 1-tgyuuAn
  tgyuuAn/BFS/1-리코쳇 로봇
  tgyuuAn/README.md
Labels: tgyuuAn, 리뷰 완료 ✔️

#2 1-pknujsp
  pknujsp/BRUTE_FORCE/1-리모컨.kt
  pknujsp/README.md
Labels: pknujsp, 리뷰 완료 ✔️

#4 2-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/그리디/2-광물 캐기.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#5 2-pknujsp
  pknujsp/BRUTE_FORCE/1-리모컨.kt
  pknujsp/BRUTE_FORCE/2-연속_부분_수열_합의_개수.kt
  pknujsp/README.md
Labels: pknujsp, 리뷰 완료 ✔️

#8 3-pknujsp
  pknujsp/README.md
  pknujsp/SORT/2-최솟값_만들기.py
Labels: pknujsp, 리뷰 완료 ✔️

#6 2-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/구현/2-인사고과.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#7 3-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/이진 탐색/디펜스 게임.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#11 3-Munbin-Lee
  Munbin-Lee/DP/3-정수 삼각형.cpp
  Munbin-Lee/README.md
Labels: 리뷰 완료 ✔️, Munbin-Lee

#9 4-pknujsp
  pknujsp/README.md
  pknujsp/SORT/3-최솟값_만들기.py
  pknujsp/SORT/4-튜플.kt
Labels: pknujsp, 리뷰 완료 ✔️

#10 4-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/완전 탐색/후보키.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#12 5-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/완전 탐색/혼자 놀기의 달인.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#14 4-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/이분탐색/4-12927.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#13 5-pknujsp
  pknujsp/README.md
  pknujsp/구현/5-괄호_변환.kt
Labels: pknujsp, 리뷰 완료 ✔️

#16 6-pknujsp
  pknujsp/README.md
  pknujsp/탐색/6-쿼드압축 후 개수 세기.kt
Labels: pknujsp, 리뷰 완료 ✔️

#18 6-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/구현/6-테이블 해시 함수.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#20 7-pknujsp
  pknujsp/README.md
  pknujsp/탐색/7-무인도 여행.kt
Labels: pknujsp, 리뷰 완료 ✔️

#19 7-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/수학/두 원 사이의 정수 쌍.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#21 8-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/수학/숫자 블록.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#22 8-pknujsp
  pknujsp/README.md
  pknujsp/탐색/8-거리두기 확인 하기.kt
Labels: pknujsp, 리뷰 완료 ✔️

#23 7-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/그리디/7-요격 시스템.cpp
Labels: 리뷰 기다리는 중 🔥, Munbin-Lee

#24 8-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/구현/7-다단계 칫솔 판매.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#26 9-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/완전 탐색/빛의 경로 사이클.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#25 9-pknujsp
  pknujsp/README.md
  pknujsp/자료구조/9-스킬트리.py
Labels: pknujsp, 리뷰 완료 ✔️

#28 10-pknujsp
  pknujsp/README.md
  pknujsp/구현/10-수식 최대화.kt
Labels: pknujsp, 리뷰 완료 ✔️

#27 9-Munbin-Lee
  Munbin-Lee/DP/9-도둑질.cpp
  Munbin-Lee/README.md
Labels: 리뷰 완료 ✔️, Munbin-Lee

#29 10-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/분할 정복/유사 칸토어 비트열.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#30 11-pknujsp
  pknujsp/README.md
  pknujsp/자료구조/11-영어 끝말잇기.py
Labels: pknujsp, 리뷰 완료 ✔️

#31 11-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/문자열/문자열_압축.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#32 10-Munbin-Lee
  Munbin-Lee/README.md
  Munbin-Lee/트리/10-Munbin-Lee.cpp
Labels: 리뷰 완료 ✔️, Munbin-Lee

#36 12-pknujsp
  pknujsp/README.md
  pknujsp/자료구조/12-이중우선순위큐.kt
Labels: pknujsp, 리뷰 완료 ✔️
