Repository AlgoLeadMe/AlgoLeadMe-1, pull requests merged in 2024-06, with the labels that each got.

#201 27-SeongHoonC
  SeongHoonC/README.md
  SeongHoonC/graph/graph.kt
Labels: 리뷰 완료 ✔️, SeongHoonC

#202 19-H0ngJu
  H0ngJu/DP/합분해.py
  H0ngJu/README.md
Labels: 리뷰 완료 ✔️, H0ngJu

#204 58-tgyuuAn
  tgyuuAn/DFS/비숍.py
  tgyuuAn/README.md
Labels: tgyuuAn, 리뷰 완료 ✔️

#205 28-SeongHoonC
  SeongHoonC/README.md
  SeongHoonC/투포인터/부분합.kt
Labels: 리뷰 완료 ✔️, SeongHoonC

#203 28-alstjr7437
  alstjr7437/README.md
  alstjr7437/브루트포스/카잉-달력.py
Labels: 리뷰 완료 ✔️, alstjr7437

#208 21-H0ngJu
  H0ngJu/README.md
  H0ngJu/그리디/행복 유치원.py
Labels: 리뷰 완료 ✔️, H0ngJu

#207 59-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/다익스트라/개미.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#209 60-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/그리디/불 끄기.py
Labels: tgyuuAn, 내다 버린 PR 🗑️

#210 29-alstjr7437
  alstjr7437/README.md
  alstjr7437/이분탐색/나무자르기.py
Labels: 리뷰 완료 ✔️, alstjr7437

#211 30-alstjr7437
  alstjr7437/README.md
  alstjr7437/구현/방번호.swift
Labels: 리뷰 완료 ✔️, alstjr7437

#212 61-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/크루스칼/우주신과의 교감.py
Labels: tgyuuAn, 리뷰 완료 ✔️
