Repository AlgoLeadMe/AlgoLeadMe-1, pull requests merged in 2024-08, with the labels that each got.

#224 33-SeongHoonC
  SeongHoonC/브루트포스/buildings.kt
Labels: 리뷰 완료 ✔️, SeongHoonC

#220 65-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/최소 공통 조상/가장 가까운 공통 조상.py
Labels: tgyuuAn, 내다 버린 PR 🗑️

#222 66-tgyuuAn
  tgyuuAn/DP/로봇 조종하기.py
  tgyuuAn/README.md
Labels: tgyuuAn, 내다 버린 PR 🗑️

#223 67-tgyuuAn
  tgyuuAn/DP/성냥개비.py
  tgyuuAn/README.md
Labels: tgyuuAn, 내다 버린 PR 🗑️

#218 31-alstjr7437
  alstjr7437/BFS/게임-맵-최단거리.py
  alstjr7437/BFS/게임-맵-최단거리.swift
  alstjr7437/README.md
Labels: 리뷰 완료 ✔️, alstjr7437

#233 24-H0ngJu
  H0ngJu/BFS/맥주 마시면서 걸어가기.py
  H0ngJu/BFS/아기상어.py
  H0ngJu/README.md
Labels: 리뷰 완료 ✔️, H0ngJu

#231 32-alstjr7437
  alstjr7437/README.md
  alstjr7437/투포인터/과일탕후루.py
Labels: 리뷰 완료 ✔️, alstjr7437

#232 70-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/누적합/1의 개수 세기.py
  tgyuuAn/스택/탑 보기.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#228 69-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/누적합/1의 개수 세기.py
Labels: tgyuuAn, 리뷰 기다리는 중 🔥

#225 22-H0ngJu
  H0ngJu/README.md
  H0ngJu/해시/의상.py
Labels: 리뷰 완료 ✔️, H0ngJu

#227 23-H0ngJu
  H0ngJu/README.md
  H0ngJu/베스트앨범.py
Labels: 리뷰 완료 ✔️, H0ngJu

#236 33-alstjr7437
  alstjr7437/BFS/DSLR.py
  alstjr7437/README.md
Labels: 리뷰 완료 ✔️, alstjr7437

#235 71-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/다익스트라/횡단보도.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#234 25-H0ngJu
  H0ngJu/DFS/친구비.py
  H0ngJu/README.md
Labels: 리뷰 완료 ✔️, H0ngJu
