Repository AlgoLeadMe/AlgoLeadMe-1, pull requests merged in 2024-12, with the labels that each got.

#258 35-H0ngJu
  H0ngJu/DP/전깃줄.py
  H0ngJu/README.md
Labels: 리뷰 완료 ✔️, H0ngJu

#255 81-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/이분 탐색/Cubeeditor.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#260 36-H0ngJu
  H0ngJu/README.md
  H0ngJu/수학/머리 톡톡.py
Labels: 리뷰 완료 ✔️, H0ngJu

#259 83-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/수학/칵테일.kt
Labels: tgyuuAn, 내다 버린 PR 🗑️
