Repository AlgoLeadMe/AlgoLeadMe-1, pull requests merged in 2024-09, with the labels that each got.

#237 26-H0ngJu
  H0ngJu/README.md
  H0ngJu/그리디/신입사원.py
Labels: 리뷰 완료 ✔️, H0ngJu

#238 72-tgyuuAn
  tgyuuAn/DFS/등산 마니아.py
  tgyuuAn/README.md
Labels: tgyuuAn, 리뷰 완료 ✔️

#239 73-tgyuuAn
  tgyuuAn/BFS/Rain (Small).py
  tgyuuAn/README.md
Labels: tgyuuAn, 리뷰 완료 ✔️

#242 74-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/완전 탐색/불 켜기.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#244 28-H0ngJu
  H0ngJu/README.md
  H0ngJu/벨만포드/타임머신.py
Labels: 리뷰 완료 ✔️, H0ngJu

#243 75-tgyuuAn
  tgyuuAn/DP/산 모양 타일링.py
  tgyuuAn/README.md
Labels: tgyuuAn, 리뷰 완료 ✔️

#246 76-tgyuuAn
  tgyuuAn/README.md
  tgyuuAn/트리/표현 가능한 이진트리.py
Labels: tgyuuAn, 리뷰 완료 ✔️

#245 29-H0ngJu
  H0ngJu/README.md
  H0ngJu/구현/톱니바퀴.py
Labels: 리뷰 완료 ✔️, H0ngJu

#241 34-alstjr7437
  alstjr7437/README.md
  alstjr7437/다익스트라/파티.py
Labels: 리뷰 완료 ✔️, alstjr7437
